<%- include('partials/header.ejs') %>

<div class="daily">
    <% if (locals.dailyName) { %>
        <h2> Drink of the day </h2>
        <h3> <%= dailyName %></h3>
        <p> <%= dailyInstructions %> </p>
        <img src="<%=dailyImg%>" height="300px"/>
    <% } %>  
</div>

<div class="random">
    <% if (locals.name) { %>
        <h2> A surprise drink for you!</h2>
        <h3> <%= name %></h3>
        <p> <%= instructions %> </p>
        <img src="<%=img%>" height="300px"/>
    <% } %>  
</div>


<%- include('partials/footer.ejs') %>
    
