<%- include('partials/header.ejs') %>

<div class="searchByName">
    <h2>Search for drink by name</h2>
    <form action="/search-by-name" method="post">
        <label for="nameInput">Enter your drink's name:</label>
        <input type="text" id="nameInput" name="name">
        <button type="submit">Search</button>
    </form>    

    <% if(locals.drink) { %>
        <%= drink.strDrink %>
        <% if (drink.strDrinkThumb) { %>
            <img src="<%= drink.strDrinkThumb %>" alt="<%= drink.name %>" width="100px">
        <% } %>           
    
    <p> Add this drink to your list? </p>
    
    <form action="/list" method="post">
        <input type="hidden" name="drinkName" value="<%= drink.strDrink %>">
        <input type="hidden" name="drinkThumb" value="<%= drink.strDrinkThumb %>">
        <input type="submit" value="Add to list">   
     </form>   

    <% } %>

    
</div>

<%- include('partials/footer.ejs') %>